<!-- templates/calificaciones/editar.html -->
{% extends 'calificaciones/base.html' %}

{% block title %}
    Editar Calificación
{% endblock %}

{% block content %}

<div class='row justify-content-center'>
    <div class='col-md-7'>
        <div class='card'>

            <div class='card-header' style='background:#2E75B6; color:white;'>
                <h5 class='mb-0'>
                    Editar: {{ calificacion.nombre_estudiante }}
                </h5> ✏️
            </div>

            <div class='card-body'>

                <form method='POST'>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class='mb-3'>
                            <label class='form-label fw-bold'>
                                {{ field.label }}
                            </label>

                            {{ field }}

                            {% if field.errors %}
                                <div class='text-danger small'>
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class='d-flex gap-2'>
                        <button type='submit' class='btn btn-warning'>
                            Actualizar
                        </button>
                        <a href='{% url "listar" %}' class='btn btn-secondary'>
                            Cancelar
                        </a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}